<% @page_title = "Sign In" %>

<%= form_for(:session, url: sessions_path) do |f| %>
  <table class="item_detail">
    <tbody>
      <tr class="field">
        <td class="detail_label"><%= f.label :email %></td>
        <td class="detail_input"><%= f.text_field :email %></td>
      </tr>
      <tr class="field">
        <td class="detail_label"><%= f.label :password %></td>
        <td class="detail_input"><%= f.password_field :password %></td>
      </tr>
      <tr class="actions">
        <td class="detail_label"></td>
        <td class="detail_input"><%= f.submit "Sign in", class: "bordered_link", title: "Sign in" %></td>
      </tr>
      <tr class="field">
        <td class="detail_label">New user?</td>
        <td class="detail_input"><%= link_to "Sign up now!", signup_path, title: "Sign-up now" %></td>
      </tr>
    </tbody>
  </table>
<% end %>
