<% @page_title = "Bid on \"#{@bid.item.name}\"" %>

<h2><%= @page_title %></h2>

<%= content_tag(:p, notice, id: "notice") unless notice.nil? %>

<table class="item_detail">
  <tbody>
    <tr class="field">
      <td class="detail_label">Bidder</td>
      <td class="detail_value"><%= link_to "#{@bid.user.first_name} #{@bid.user.last_name}", users_path(user_id: @bid.user_id) %></td>
    </tr>
    <tr class="field">
      <td class="detail_label">Amount</td>
      <td class="detail_value"><%= number_to_currency(@bid.amount) %></td>
    </tr>
    <tr class="field">
      <td class="detail_label">Timestamp</td>
      <td class="detail_value"><%= time_ago_in_words(@bid.created_at) %></td>
    </tr>
  </tbody>
</table>

<div class="container_nav">
  <%= link_to 'See All Items', items_path, class: "bordered_link" %>
  <% if current_user?(@bid.user) || current_user.admin? %>
    <%= link_to 'Delete', @bid, method: :delete, data: { confirm: "Are you sure you want to delete the bid for \"#{@bid.item.name}\"?" }, class: "bordered_link" %>
  <% end %>
</div>
