<% @page_title = "Edit Password" %>

<%= form_for @user do |f| %>
  <%= render 'shared/error_messages', obj: f.object %>
  <table class="item_detail">
    <tbody>
      <tr class="field">
        <td class="detail_label">New <%= f.label :password %></td>
        <td class="detail_input"><%= f.password_field :password, size: 40 %></td>
      </tr>
      <tr class="field">
        <td class="detail_label">New <%= f.label :password %></td>
        <td class="detail_input"><%= f.password_field :password, size: 40 %></td>
      </tr>
      <tr class="field">
        <td class="detail_label">New <%= f.label :password_confirmation, 'Password confirmation' %></td>
        <td class="detail_input"><%= f.password_field :password_confirmation, size: 40 %></td>
      </tr>
      <tr class="actions">
        <td class="detail_label"></td>
        <td class="detail_input"><%= f.submit "Save" %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<div class="container_nav">
  <%= link_to 'Cancel', @user, class: "bordered_link" %>
</div>
