<% @page_title = "#{@user.first_name} #{@user.last_name}" %>

<%= gravatar_for @user %>

<h3><%= "#{@user.first_name} is selling:" %></h3>
<%= render 'items/index_items', items: @items_sell, param_name: @items_sell_page %>
<br>

<h3><%= "#{@user.first_name} is bidding on:" %></h3>
<%= render 'items/index_items', items: @items_bid, param_name: @items_bid_page %>
<br>

<h3><%= "#{@user.first_name} has sold:" %></h3>
<%= render 'items/index_items', items: @items_sold, param_name: @items_sold_page %>
<br>

<h3><%= "#{@user.first_name} has won:" %></h3>
<%= render 'items/index_items', items: @items_won, param_name: @items_won_page %>
<br>

<div class="container_nav">
  <%= link_to 'See All Accounts', users_path, class: "bordered_link", title: "Return to all accounts" %>
  <% if current_user.admin? || current_user?(@user) %>
    <%= link_to 'Edit Account',   { action: :edit,    id: @user.id },
                                    class: "bordered_link",
                                    title: "Edit account details" %>
    <%= link_to 'Delete Account', { action: :destroy, id: @user.id },
                                    method: :delete,
                                    data: { confirm: "Are you sure you want to delete the item \"#{@user.first_name}\"?" },
                                    class: "bordered_link",
                                    title: "Careful now!! Perminently delete account" %>
  <% end %>
</div>
