<%= form_for @item do |f| %>
  <%= render 'shared/error_messages', obj: f.object %>
  <table class="item_detail">
    <tbody>
      <tr class="field">
        <td class="detail_label"><%= f.label :name %></td>
        <td class="detail_input"><%= f.text_field :name %></td>
      </tr>
      <tr class="field">
        <td class="detail_label"><%= f.label :description %></td>
        <td class="detail_input"><%= f.text_area :description %></td>
      </tr>
      <tr class="field">
        <td class="detail_label"><%= f.label :vendor %></td>
        <td class="detail_input"><%= f.text_field :vendor %></td>
      </tr>
      <tr class="field">
        <td class="detail_label"><%= f.label :starting_price %></td>
        <td class="detail_input"><%= f.text_field :starting_price %></td>
      </tr>
      <tr class="field">
        <td class="detail_label">Category</td>
        <td class="detail_input"><%= f.select :category_id, options_from_collection_for_select(@categories, "id", "name", selected: @item.category_id) %></td>
      </tr>
      <tr class="actions">
        <td class="detail_label"></td>
        <td class="detail_input"><%= f.submit "Save" %></td>
      </tr>
    </tbody>
  </table>
<% end %>
