<%= form_for @item do |f| %>
  <%= render 'shared/error_messages', obj: f.object %>
  <table class="item_detail">
    <tbody>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <tr class="field">
        <td class="detail_label"><%= f.label :name %></td>
        <td class="detail_input"><%= f.text_field :name %></td>
      </tr>
      <tr class="field">
        <td class="detail_label"><%= f.label :description %></td>
        <td class="detail_input"><%= f.text_area :description %></td>
      </tr>
      <tr class="field">
        <td class="detail_label"><%= f.label :starting_price %></td>
        <td class="detail_input"><%= f.number_field :starting_price, {min: "0.00", max: "999999999.99", step: "0.01"} %></td>
      </tr>
      <tr class="field">
        <td class="detail_label">Category</td>
        <td class="detail_input"><%= f.select :category_id, options_for_select(@categories, selected: @item.category_id), prompt: "Select Category" %></td>
      </tr>
      <tr class="field">
        <td class="detail_label"><%= f.label :close_date, 'Close Date' %></td>
        <td class="detail_input"><%= f.date_field :close_date, placeholder: "dd/mm/yyy", min: Time.now + 1.day %></td>
      </tr>
    </tbody>
  </table>
  <div class="container_nav">
    <%= f.submit "Save", class: "bordered_link", title: "Save" %>
  </div>
<% end %>
