<% if params[:category_id]
    @page_title = "Items for Sale | Search Results"
  else
    @page_title = "Items for Sale"
  end %>

<%= form_tag items_path, method: 'get', class: "search_form" do %>
  <p>
    <%= select_tag :category_id, options_for_select(@categories, selected: params[:category_id]), prompt: "Select Category" %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil, title: "Search item names and descriptions" %>
    <%= link_to "Clear", items_path, class: "bordered_link", title: "Clear search" if params[:category_id] %>
  </p>
<% end %>

<%= render 'index_items', items: @items, param_name: @items_page %>
<br>

<div class="container_nav">
  <%= link_to 'Something to Sell?', {action: 'new'}, class: "bordered_link", title: "Something to sell?" %>
</div>
