<h2>Want to buy something?</h2>

<%= form_tag items_path, method: 'get', class: "search_form" do %>
  <p>
    <%= label_tag :query, "Search for:" %>
    <%= select_tag :category_id, options_for_select(@categories, selected: params[:category_id]), prompt: "Select Category" %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<div id="item_list">
  <% @items.each do |i| %>
    <%= render 'index_item', :index_item => i %>
  <% end %>
  <%= content_tag(:h3, "No items found", class: "no_items_message") if @items.count==0 %>
  <%= will_paginate @items %>
</div>

<%= link_to 'Something to Sell?', action: 'new' %>
