<% @page_title = @item.name %>

<table class="item_detail">
  <tbody>
    <tr class="field">
      <td class="detail_label">Description</td>
      <td class="detail_value"><%= @item.description %></td>
    </tr>
    <tr class="field">
      <td class="detail_label">Seller</td>
      <td class="detail_value"><%= link_to "#{@item.user.first_name} #{@item.user.last_name}", @item.user, title: "Show account profile" %></td>
    </tr>
    <tr class="field">
      <td class="detail_label">Price</td>
      <td class="detail_input"><%= number_to_currency(highest_bid_for(@item.id) || @item.starting_price) %></td>
    </tr>
    <tr class="field">
      <td class="detail_label">Category</td>
      <td class="detail_value"><%= link_to @item.category.name, items_path(category_id: @item.category_id), title: "Search for all #{@item.category.name}" %></td>
    </tr>
    <tr class="field">
      <td class="detail_label">Created</td>
      <td class="detail_value"><%= "#{time_ago_in_words(@item.created_at)} ago" %></td>
    </tr>
    <% if @item.closed? %>
      <% if @item.won? %>
        <tr class="field">
          <td class="detail_label">Won by</td>
          <td class="detail_value">
            <%= link_to "#{@item.winner.first_name} #{@item.winner.last_name}", @item.winner %>
            <%= "#{time_ago_in_words(@item.close_date)} ago" %>
          </td>
        </tr>
      <% else %>
        <tr class="field">
          <td class="detail_label">Closed</td>
          <td class="detail_value"><%= "#{time_ago_in_words(@item.close_date)} ago" %></td>
        </tr>
      <% end %>
    <% else %>
      <tr class="field">
        <td class="detail_label">Closing</td>
        <td class="detail_value"><%= "in #{time_ago_in_words(@item.close_date)}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if signed_in? && (current_user?(@item.user) || current_user.admin?) && !@item.closed? %>
  <div class="container_nav">
    <%= link_to 'Edit', edit_item_path(@item), class: "bordered_link", title: "Edit this item" unless @item.has_bid?%>
    <%= link_to 'Delete', @item,
                          method: :delete,
                          data: { confirm: "Are you sure you want to delete the item \"#{@item.name}\"?" },
                          class: "bordered_link",
                          title: "Delete this item" %>
  </div>
<% end %>

<% if signed_in? %>
  <%= render 'bids/index' unless @bids.count==0 %>
  <%= render 'bids/form' unless (current_user?(@item.user) || @item.closed?) %>
<% end %>

<div class="container_nav">
  <%= link_to "Sign in to Bid", signin_path, class: "bordered_link", title: "Sign in to bid" unless signed_in? %>
  <%= link_to 'See All Items',  items_path,  class: "bordered_link back_button", title: "Return to all items" %>
</div>
