<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>
<p>
  <strong>Vendor:</strong>
  <%= @item.vendor %>
</p>
<p>
  <strong>Starting Price:</strong>
  <%= @item.starting_price %>
</p>
<p>
  <strong>Category:</strong>
  <%= @item.category.name %>
</p>
<p>
  <strong>Created:</strong>
  <%= time_ago_in_words(@item.created_at) %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
