<% @page_title = @item.name %>

<h2><%= @page_title %></h2>

<%= content_tag(:p, notice, id: "notice") unless notice.nil? %>

<table class="item_detail">
  <tbody>
    <tr class="field">
      <td class="detail_label">Description</td>
      <td class="detail_value"><%= @item.description %></td>
    </tr>
    <tr class="field">
      <td class="detail_label">Seller</td>
      <td class="detail_value"><%= link_to "#{@item.user.first_name} #{@item.user.last_name}", users_path(user_id: @item.user_id) %></td>
    </tr>
    <tr class="field">
      <td class="detail_label">Price</td>
      <td class="detail_input"><%= number_to_currency(highest_bid_for(@item.id) || @item.starting_price) %></td>
    </tr>
    <tr class="field">
      <td class="detail_label">Category</td>
      <td class="detail_value"><%= link_to @item.category.name, items_path(category_id: @item.category_id) %></td>
    </tr>
    <tr class="field">
      <td class="detail_label">Created</td>
      <td class="detail_value"><%= time_ago_in_words(@item.created_at) %></td>
    </tr>
  </tbody>
</table>

<% if current_user?(@item.user) || current_user.admin? %>
  <div class="container_nav">
    <%= link_to 'Edit', edit_item_path(@item), class: "bordered_link" %>
    <%= link_to 'Delete', @item,
                          method: :delete,
                          data: { confirm: "Are you sure you want to delete the item \"#{@item.name}\"?" },
                          class: "bordered_link" %>
  </div>
<% end %>

<h3>New Bid</h3>
<%= render 'bids/form' %>

<div class="container_nav">
  <%= link_to 'See All Items', items_path, class: "bordered_link" %>
</div>
