<%= form_for(@category) do |f| %>
  <%= render 'shared/error_messages', obj: f.object %>

  <table class="item_detail">
    <tbody>
      <tr class="field">
        <td class="detail_label"><%= f.label :name %></td>
        <td class="detail_input"><%= f.text_field :name %></td>
      </tr>
      <tr class="field">
        <td class="detail_label"><%= f.label :description %></td>
        <td class="detail_input"><%= f.text_area :description %></td>
      </tr>
      <tr class="actions">
        <td class="detail_label"></td>
        <td class="detail_input"><%= f.submit "Save", title: "Save" %></td>
      </tr>
    </tbody>
  </table>
<% end %>
