<header>
  <h1><%= link_to("#{"[ADMIN] " if @admin}Auction App", root_path) %></h1>
  <nav>
    <%= link_to "Buy", items_path, class: "bordered_link" %>
    <%= link_to "Sell", new_item_path, class: "bordered_link" %>
    <%= content_tag :div, nil, class: "separator" %>
    <%= link_to "Admin", controller: "categories" %>
  </nav>
</header>
