<header>
  <div id="accountbar">
    <% if signed_in? %>
      Welcome, <%= link_to current_user.first_name, current_user %>
      <%= link_to "Sign Out", signout_path, method: 'delete', class: "bordered_link" %>
    <% else %>
      <%= link_to "Sign In", signin_path, class: "bordered_link" %>
      <%= link_to "Sign Up", signup_path, class: "bordered_link" %>
    <% end %>
  </div>
  <h1><%= link_to("Auction App", root_path) %></h1>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <h2><%= @page_title %></h2>
</header>
