<nav>
  <%= link_to "Buy", items_path, class: "bordered_link" %>
  <%= link_to "Sell", new_item_path, class: "bordered_link" %>
  <%= content_tag :div, nil, class: "separator" %>
  <% if signed_in? && current_user.admin? %>
    <%= content_tag :div, nil, class: "separator" %>
    <%= link_to "Admin", controller: "categories"%>
  <% end %>
  <% if signed_in? %>
    <%= content_tag :div, nil, class: "separator" %>
    <%= link_to "Accounts", users_path %>
  <% end %>
</nav>
